*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000000;
  color: #ffffff;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title{
  position: relative;
}

.box1{
  background-color: rgb(92, 100, 19);
  padding: 10px;
  border: 2px solid #ffffff;
  margin: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  /* left: 0; */
}

.box2{
  background-color: rgb(92, 100, 19);
  padding: 10px;
  border: 2px solid #ffffff;
  margin: 10px;
  border-radius: 10px;
  position: sticky;
  top: 0;
  /* left: 0; */
}
.box3{
  background-color: rgb(92, 100, 19);
  padding: 10px;
  border: 2px solid #ffffff;
  margin: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* left: 0; */
}

.box4{
  background-color: rgb(92, 100, 19);
  padding: 10px;
  border: 2px solid #ffffff;
  margin: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  /* left: 0; */
}

.box5{
  background-color: rgb(92, 100, 19);
  padding: 10px;
  border: 2px solid #ffffff;
  margin: 10px;
  border-radius: 10px;
  position: absolute;
  top: 350px;
  left: 0;
}

.box6{
  background-color: rgb(92, 100, 19);
  padding: 10px;
  border: 2px solid #ffffff;
  margin: 10px;
  border-radius: 10px;
  position: fixed;
  top: 0;
  right: 0;
}