@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');


:root{
  --font-geist: 'Geist Mono';
  --primary-teal: #10b981;
  --bg-teal: #f0fdfa;
  --text-dark: #111827;
  --text-muted: #6b7280;
  --border-light: #e5e7eb;
  --brand: #10b981;
  --bg-main: #ffffff;
  --border: #e5e7eb;
  --offset: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

/* Background Wrapper for both Header and Hero */
.top-banner-wrapper {
  background-image: url("./assets/bg-light.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -100px;
  min-height: 100vh;
  width: 100%;
  mix-blend-mode: overlay;
}
/* Header Styling */

/* @keyframes text-color-swap {
  from {
    color: #ffffff;
  }
  to {
    color: #000000;
  }
} */

.mint-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  /* For the scroll animations text color change */
  /* animation: text-color-swap linear both;
  animation-timeline: scroll();
  animation-range: 0px 100px; */
}


.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.mint-logo {
  height: 24px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 24px;
  margin-left: 100px;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 12px;
  border-radius: 20px;
}

.nav-links a:hover {
  opacity: 1;
}

/* Header CTAs */
.header-ctas {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-one {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 12px;
  border-radius: 20px;
  background-color: rgba(8, 9, 10, 0.03);
}

.btn-one:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-two {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 20px;
  transition: transform 0.2s;
}

.btn-two:hover {
  transform: translateY(-1px);
}

/* Hero Styling */
.hero-section {
  padding: 60px 0 100px;
  text-align: center;
  /* mask-image: linear-gradient(to bottom, black 50%, transparent 100%); */
  /* mix-blend-mode: overlay; */
}

.badge-main {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 31, 31, 0.3);
  padding: 3px 4px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  gap: 10px;
}

.badge-inner span #sub-badge{
  padding: 0 3px;
}

.badge-main:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

#badge-inner{
  background-color: #0C8C5E;
  padding: 3px 6px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.hero-content h1 {
  max-width: 43rem;
  font-size: 62px;
  font-weight: 600;
  letter-spacing: -0.05em;
  line-height: 1.2;
  margin: 10px 0;
  text-wrap: balance;
  text-align: center;
}

.hero-content p {
  font-size: 18px;
  max-width: 30rem;
  margin: 0 auto 30px;
  line-height: 1.5;
}

.input-container{
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px;
  border-radius: 50px;
  max-width: 23rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

input[type="email"] {
    flex-grow: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px 12px;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
  }

.input-container input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}


.btn-three{
  font-family: inherit;
  background-color: white;
  color: black;
  border: none;
  border-radius: 40px;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}


.hero-image-cta{
  margin: 0 auto;
  border-radius: 30px;
  text-align: center;
  width: 100%;
  display: flex;
}

.image-cta-wrapper{
  margin: auto;
  border-radius: 30px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-cta-wrapper img{
  max-width: 100%;
  display: block;
  border-radius: 30px;
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}


/* Company Section */
.company-section {
  padding: 80px 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.company-list-content{
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

/* Logo Section */
.logo-section{
  padding: 80px 20px 130px 20px;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
/*
.logo-grid-wrapper{
  width: 1200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.logo-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  max-width: 64rem;
  width: 100%;
}

.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.logo-item #perplexity{
  width: 120px;
}

.logo-item #x{
  height: 24px;
}

/* Secondary Layout */
.secondary-layout{
  color: black;
  max-width: 1026px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.meta-header{
  padding: 25px 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.meta-header h2 {
  font-size: 35px;
  letter-spacing: -0.02em;
  text-align: center;
  padding: 1.4px 0;
  margin-top: 30px;
}

.meta-header p {
  letter-spacing: -0.02em;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  padding: 0 3rem;
  margin-bottom: 20px;
}

/* Feature Card */
.feature-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: sans-serif;
}

.feature-card {
  border: 1px solid var(--border-light);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-header {
  padding: 40px;
}

.eyebrow {
  font-family: monospace;
  color: var(--primary-teal);
  font-size: 12px;
  font-weight: bold;
}

.card-header h3 {
  font-size: 24px;
  color: var(--text-dark);
  margin: 10px 0;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.card-header p {
  color: var(--text-muted);
  line-height: 1.5;
  font-size: 16px;
  margin: 0;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image img,
.video-card video {
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Assistant Section */
.assistant-section{
  border: 1px solid var(--border-light);
  border-radius: 24px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 96%;
  margin-bottom: 15rem;
}

.layout-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.assistant-header{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 48px;
}

.sub-label{
  font-family: var(--font-geist);
  color: var(--brand);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.assistant-header h2{
  font-size: 32px;
  letter-spacing: -0.02em;
  font-weight: 500;
  margin: 10px 0;
}

.assistant-header p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding: 0 3rem;
  margin-bottom: 20px;
}

.assistant-video{
  display: flex;
  justify-content: center;
  align-items: center;
}

.assistant-video video{
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
  max-width: 100%;
}

/* Second Main Layout  */
/* Layout & Global */
.enterprise-section {
  background-color: #f7f7f7;
  padding: 100px 10px;
  font-family: inherit;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Intro Section */
.enterprise-intro {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  margin-bottom: 48px;
  width: 100%;
  gap: 1px;
}


.main-title {
  font-size: 40px;
  line-height: 1.25;
  letter-spacing: -0.025em;
  color: #000;
  font-family: inherit;
}

.intro-header{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  width: 100%;
  gap: 20px;
}

.intro-action{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  width: 100%;
  gap: 20px;
}

.intro-action p{
  color: #000;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
}

.primary-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.2s;
  font-family: inherit;
}

.primary-btn:hover {
  opacity: 0.8;
}

/* Feature Cards */
.feature-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 64px;
}

.feature-card {
  background: #fff;
  border-radius: 24px;
  border: 1px solid #e5e5e5;
}

.icon-container {
  color: #10b981;
  margin-bottom: 24px;
}

.feature-card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-bottom: 12px;
}

.feature-card p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

/* Story Banner */
.story-banner {
  position: relative;
  width: 100%;
  height: 480px;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 80px;
  color: #fff;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.story-overlay {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: clamp(20px, 5vw, 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to right, rgba(0,0,0,0.8) 30%, transparent 100%);
}

.story-text h3 {
  font-size: 28px;
  max-width: 400px;
  margin: 16px 0 24px;
}

.story-link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.story-link:hover {
  border-color: #fff;
}

.story-metrics {
  display: flex;
  gap: 40px;
}

.metric-card h2 {
  font-size: 40px;
  margin-bottom: 4px;
}

.metric-card p {
  font-size: 13px;
  opacity: 0.8;
  max-width: 200px;
}

/* Logo Cloud */
.logo-cloud {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  filter: grayscale(100%);
  opacity: 0.6;
}

.logo-cloud img {
  max-width: 120px;
}

/* Customer Section */
.customer-section {
  background-color: #FFFFFF;
  padding: 80px 0 50px 0;
  font-family: inherit;
  color: #000;
}

.customer-action{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  gap: 20px;
}

.customer-action .sub-label{
  font-size: 12px;
}

.customer-action h2{
  font-size: 36px;
  letter-spacing: -0.02em;
  font-family: inherit;
}

.customer-action p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding: 0 3rem;
  margin-bottom: 20px;
}

/* Scroll Card */
.stories-container {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  max-width: 80%;
  justify-content: end;
  margin-left: 20rem;
}

.story-card {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.card-header-scroll {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
}

.story-card:hover{
  cursor: pointer;
}

.bg-image {
  width: 100%;
  border-radius: 24px;
  height: 100%;
  object-fit: cover;
}

.logo-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.logo-svg {
  width: 100%;
  fill: white;
}

.story-description {
  font-size: 16px;
  line-height: 1.5;
  color: #374151;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.read-link {
  font-size: 14px;
  font-weight: 500;
  color: #6b7280;
}

.read-link p{
  color: #000;
  display: flex;
  align-items: center;
  gap: 4px;
}

.read-link> a{
  color: #000;
  text-decoration: none;
}

.read-link:hover{
  color: var(--brand);
}

/* Scroll Animation buttons */
.slider-controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
  gap: 12px;
}

.control-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.375rem;
  height: 2.375rem;
  padding: 0;

  /* Styling */
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 9999px;
  cursor: pointer;
  transition: color 0.1s, background-color 0.1s, transform 0.1s;
  color: #111827;
}

.control-btn svg {
  width: 1.75rem;
  height: 1.75rem;
  flex-shrink: 0;
}

/* Hover & Active States */
.control-btn:hover svg {
  opacity: 0.8;
}

.control-btn:active {
  transform: scale(0.96);
}

/* Disabled State */
.control-btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Pricing Section */
.cta-section {
  margin: 0 auto;
  padding: 96px 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #f3f4f6;

}

.cta-container {
  max-width: 988px;
  width: 100%;
  letter-spacing: -0.02em;
  text-align: center;
}

.cta-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.1;
  color: #111827;
  margin-bottom: 16px;
}

.cta-subtitle {
  font-size: 16px;
  color: #4B5563;
  margin-bottom: 48px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 56px;
}

.btn-black {
  background: #000;
  color: #fff;
  padding: 10px 24px;
  border-radius: 99px;
  text-decoration: none;
  font-weight: 500;
}

.btn-outline {
  border: 1px solid #e5e7eb;
  color: #111827;
  padding: 10px 24px;
  border-radius: 99px;
  text-decoration: none;
  font-weight: 500;
}

/* Footer Grid Logic */
.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 24px;
}

.info-box {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.border-right {
  border-right: 1px solid #f3f4f6;
}

.icon-wrapper {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.icon-svg {
  width: 32px;
  height: 32px;
  color: var(--brand);
}

.info-box h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: #000;
  letter-spacing: -0.02em;
  padding-top: 20px;
}

.info-box p {
  color: #6b7280;
  font-size: 14px;
  margin: 0;
}

.link-brand {
  color: #10b981;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  padding-top: 30px;
}

/* footer */
.site-footer {
  padding: 60px 24px;
  border-top: 1px solid #f3f4f6;
  max-width: 1200px;
  margin: 0 auto;
  border-right: 1px solid #f3f4f6;
  border-left: 1px solid #f3f4f6;
  border-bottom: 1px solid #f3f4f6;
}

.footer-logo{
  height: 24px;
}

.social-links{
  display: flex;
  gap: 16px;
  height: 20px;
  cursor: pointer;
  color: #666;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  margin-top: 40px;
}

.footer-top{
  border-bottom: 1px solid #f3f4f6;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-col h5 {
  font-size: 14px;
  color: #6b7280;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.05em;
}

.footer-col a {
  display: block;
  text-decoration: none;
  color: #111827;
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: 500;
}

.footer-bottom {
  margin-top: 80px;
  padding-top: 40px;
  border-top: 1px solid #f3f4f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #f3f4f6;
}

.security-badge {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  border-bottom: 1px solid #f3f4f6;
  padding-bottom: 20px;
}

.soc2-img {
  height: 60px;
}

.status-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
  color: var(--primary-teal);
}

.footer-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #6b7280;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}

.footer-status p{
  background: #EFEFEF;
  border-radius: 24px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.theme-container{
  background-color: #EEEEEE;
  display: flex;
  cursor: pointer;
  gap: 10px;
  padding: 5px 10px;
  align-items: center;
  border-radius: 20px;
}

.system{
  font-size: 10px;
  font-weight: 500;
}

.day, .night, .system{
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}