@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');


:root{
  --font-geist: 'Geist Mono';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Background Wrapper for both Header and Hero */
.top-banner-wrapper {
  background-image: url("./assets/bg-light.svg");
  background-size: contain;
  background-position: -2em 0.1em;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100pc;
}

.layout-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Header Styling */

/* @keyframes text-color-swap {
  from {
    color: #ffffff;
  }
  to {
    color: #000000;
  }
} */

.mint-header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(14px);

  /* For the scroll animations text color change */
  /* animation: text-color-swap linear both;
  animation-timeline: scroll();
  animation-range: 0px 100px; */
}


.header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.mint-logo {
  height: 24px;
  width: auto;
  display: block;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 24px;
  margin-left: 100px;
}

.nav-links a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.nav-links a:hover {
  opacity: 1;
}

/* Header CTAs */
.header-ctas {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-one {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 12px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-two {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 20px;
  transition: transform 0.2s;
}

.btn-two:hover {
  transform: translateY(-1px);
}

/* Hero Styling */
.hero-section {
  padding: 60px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* mask-image: linear-gradient(to bottom, black 50%, transparent 100%); */
  /* mix-blend-mode: overlay; */
}

.badge-main {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 31, 31, 0.3);
  padding: 3px 4px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  gap: 10px;
}

.badge-main:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

#badge-inner{
  background-color: #0C8C5E;
  padding: 3px 6px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.hero-content h1 {
  max-width: 43rem;
  font-size: 62px;
  font-weight: 600;
  letter-spacing: -0.05em;
  line-height: 1.2;
  margin: 10px 0;
  text-wrap: balance;
  text-align: center;
}

.hero-content p {
  font-size: 18px;
  max-width: 30rem;
  margin: 0 auto 30px;
  line-height: 1.5;
}

.input-container{
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px;
  border-radius: 50px;
  max-width: 23rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

input[type="email"] {
    flex-grow: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px 12px;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
  }

.input-container input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}


.btn-three{
  font-family: inherit;
  background-color: white;
  color: black;
  border: none;
  border-radius: 40px;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}


.hero-image-cta{
  margin: 0 auto;
  border-radius: 30px;
  text-align: center;
  width: 100%;
  display: flex;
}

.image-cta-wrapper{
  margin: auto;
  border-radius: 30px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-cta-wrapper img{
  max-width: 100%;
  display: block;
  border-radius: 30px;
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}


/* Company Section */
.company-section {
  border: 2px solid red;
  padding: 80px 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.company-list-content{
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

/* Logo Section */
.logo-section{
  padding: 80px 20px 130px 20px;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
/*
.logo-grid-wrapper{
  width: 1200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.logo-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  max-width: 64rem;
  width: 100%;
}

.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.logo-item #perplexity{
  width: 120px;
}

.logo-item #x{
  height: 24px;
}

/* Secondary Layout */
.secondary-layout{
  color: black;
  background-color: grey;
  max-width: 1026px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.meta-header{
  padding: 25px 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.meta-header h2 {
  font-size: 35px;
  letter-spacing: -0.02em;
  text-align: center;
  padding: 1.4px 0;
  margin-top: 30px;
}

.meta-header p {
  letter-spacing: -0.02em;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  padding: 0 3rem;
  margin-bottom: 20px;
}

