.parent{
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 400px;
  border: 2px solid black;
  background-color: lightgray;
  margin-top: 10px;
}


.child{
  width: 50px;
  height: 50px;
  background-color: violet;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  /* overflow: hidden; */
}