/* =========================
  Base / Reset
  ========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #14120B;
  color: #ffffff;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* =========================
  Header
  ========================= */

header {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  z-index: 50;
}

/* =========================
  Main Nav Container
  ========================= */

.main-content {
  margin-left: 178px;
  margin-right: 178px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  text-align: center;
}

/* =========================
  Logo
  ========================= */

.logo-div img {
  display: block;
  width: 96px;
  height: 25px;
}

/* =========================
   Navigation Links
   ========================= */

nav {
  display: flex;
}

.nav-links-list {
  display: flex;
  gap: 8px;
  list-style: none;
}


.nav-links-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 15px;
}

.nav-links-list a:hover {
  opacity: 0.8;
}

/* =========================
   CTA Buttons
   ========================= */

.cta-buttons {
  display: flex;
  gap: 12px;
}

.cta-buttons button {
  background: transparent;
  color: #ffffff;
  border: 0.5px solid rgba(255, 255, 255, 0.2);;
  border-radius: 24px;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 5.4px 10.5px 5.8px 10.5px;
  cursor: pointer;

}

.cta-buttons button:last-child {
  background-color: #ffffff;
  color: #0b0b0c;
  border-radius: 24px;
  padding: 6px 14px;
  padding: 5px 12px 5px 12px;
  cursor: pointer;
}

.cta-buttons button:hover {
  opacity: 0.85;
}


/* =========================
  Main Content/ Hero Section
   ========================= */

section{
  padding: 112px 20px 0px 20px;
}